*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 20px;
    height: 100vh;
    margin: auto;
    background-color: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-box, .right-box {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}

.box-item {
    background-color: #e91e63;
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.box-item::after {
    content: '';
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.box-item .content {
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.box-item:hover::after {
    width: 20px;
}

.box-item:active::after {
    width: 100%;
}

.box-item:active .content {
    position: absolute;
    z-index: 12;
    color: #e91e63;
    font-weight: 600;
}

.blur-screen {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 0;
    width: 100%;
    height: 100vh;
    /*background-color: rgba(100, 100, 100, 0.5);*/
    backdrop-filter: blur(0);
    /*opacity: 0;*/
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.blur-screen.active {
    /*opacity: 1;*/
    backdrop-filter: blur(5px);
    pointer-events: auto;
}

.modal-container {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modal-window {
    width: 200px;
    height: 100px;
    background-color: #eee;
    transform: translateY(calc(-50vh));
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    transform-origin: top center;
}

.modal-window.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    overflow: hidden;
}

.modal-window.hide {
    transform: translateY(calc(44vh));
    opacity: 0;
    pointer-events: auto;
    overflow: hidden;
}